<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 id="roomid"></h1>
    <h1 id="owner"></h1>
    <h1 id="currentplayer"></h1>
    <h1 id="currentcard"></h1>
    <div id="players"></div>
    <div id="startt">
        <button id="startbtn" type="submit">startt</button>
    </div>

      
    <div id="status"></div>

    <div id="game"></div>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script>

      const socket = io();

      var gameid;

      socket.on('roomload', (room,roomname, game) => {
        document.getElementById('roomid').innerHTML = `Room Name: ${roomname}`;
        document.getElementById('owner').innerHTML = `Owner: ${room.owner}`;
        document.getElementById('status').innerHTML = `${room.status}`;
        if(game != "N/A"){
          console.log(game)
        document.getElementById('currentplayer').innerHTML = `currentplayer: ${game.currentplayer}`;
        document.getElementById('currentcard').innerHTML = `${game.currentcard}`;
        gameid = game.personaldata.gameid;
          gameload(game, game.personaldata)
        }
      })


      socket.on('gamestarted', () => {
        document.getElementById('status').innerHTML = 'started';
      })

      // Player lista kiíratás
      socket.on('playerlist', playerlist => {
        console.log(playerlist)
        // Törli a mostani listát
        document.getElementById('players').innerHTML = '';
        // és kiíratja a jelenlegit

        playerlist.forEach(playername => {
          const playelement = document.createElement('div');
          playelement.innerHTML = playername;
          document.getElementById('players').appendChild(playelement);
          console.log(playelement,playername)
        });
      });

      // szoba start gomb nyomásakor
      document.getElementById('startt').addEventListener('click', function(event) {
        event.preventDefault();
        socket.emit('start');
      });


      socket.on("gamestart", (personal, game) => {
        document.getElementById("startbtn").style.display = "none"
        gameid = personal.gameid;
        console.log(gameid)
        console.log("game:")
        console.log(game)
        console.log("personal:")
        console.log(personal)
        console.log("-----started---------")
        gameload(game, personal)
})

      socket.on("reload", (player,game) => {
        document.getElementById('currentplayer').innerHTML = `currentplayer: ${game.currentplayer}`;
        document.getElementById('currentcard').innerHTML = `${game.currentcard}`;


        const gamediv = document.getElementById('game');
        gamediv.innerHTML = ""
          console.log(game)
          // console.log(player.players)
          let playerdiv = document.createElement("div");
          let playername = document.createElement('h2');
          let playercards = document.createElement('div');
          playername.append(player.name)
          player.cards.forEach(card => {
            let cardelement = document.createElement('h4')
            cardelement.textContent = card
            cardelement.classList.add("card")
            console.log(cardelement)
            playercards.append(cardelement)
          })
          playerdiv.append(playername)
          playerdiv.append(playercards)
          gamediv.append(playerdiv)
          card_decl()

      })

      // Join gomb lenyomáskor
     function onloadfunc() {
        // kikéri a szoba nevét
        // request a szoba belépésre a szerver felé
        socket.emit('joinRoom');
        card_decl()
      };

      function gameload(game, personal){

        document.getElementById('currentplayer').innerHTML = `currentplayer: ${game.currentplayer}`;
        document.getElementById('currentcard').innerHTML = `${game.currentcard}`;

        const gamediv = document.getElementById('game');
          console.log(game)
          console.log(personal)
          // console.log(player.players)
          let playerdiv = document.createElement("div");
          let playername = document.createElement('h2');
          let playercards = document.createElement('div');
          playername.append(personal.playerinfo.name)
          personal.playerinfo.cards.forEach(card => {
            let cardelement = document.createElement('h4')
            cardelement.textContent = card
            cardelement.classList.add("card")
            console.log(cardelement)
            playercards.append(cardelement)
          })
          playerdiv.append(playername)
          playerdiv.append(playercards)
          gamediv.append(playerdiv)
          card_decl()
        };
      

      function carduse(card){
        socket.emit("usecard", card, gameid)
      }

      function card_decl(){
        const cards = document.querySelectorAll(".card");

        cards.forEach(card => {
          card.addEventListener("click", (event) => {
            carduse(event.target.textContent)
          })
        })
      }

    </script>

    <script>
        onloadfunc()
    </script>

</body>
</html>